<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login V17</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <!--===============================================================================================-->
</head>
<body>

<form action="/batch/add" method="post">
    <div class="container-login100-form-btn">
        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
            <input id="name" class="input100" type="text" name="name" placeholder="Batch Name"/>
            <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
            <input id="className" class="input100" type="text" name="className" placeholder="Class Name"/>
            <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
            Board's name
            <select id = "boardName" name="boardName" class="input100" placeholder="Board's name">
                <option value = "CBSE">CBSE</option>
                <option value = "ICSE">ICSE</option>
                <option value = "UP">UP</option>
                <option value = "OTHERS">OTHERS</option>
            </select>
            <!--<input id="boardName" class="input100" type="text" name="boardName" placeholder="Board's name" />-->
            <!--<span class="focus-input100"></span>-->
        </div>
        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
            Subject's name
            <select id = "subjectName" name="subjectName" class="input100" placeholder="Board's name">
                <option value = "MATHS">MATHS</option>
                <option value = "SCIENCE">SCIENCE</option>
                <option value = "PHYSICS">PHYSICS</option>
                <option value = "CHEMISTRY">CHEMISTRY</option>
                <option value = "BIOLOGY">BIOLOGY</option>
            </select>
            <!--<input id="subjectName" class="input100" type="text" name="subjectName" placeholder="Subject "/>-->
            <span class="focus-input100"></span>

        </div>
        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
            <input id="fee" class="input100" type="text" name="fee" placeholder="Fee"/>

            <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
            <input id="batchTime" class="input100" type="text" name="batchTime" placeholder="Batch Time"/>
            <span class="focus-input100"></span>


        </div>
        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
            <input id="teacherName" class="input100" type="text" name="teacherName" placeholder="Teacher name"/>
            <span class="focus-input100"></span>
        </div>

        <span class="login100-form-title p-b-34"></span>
        <button class="login50-form-btn">
            Add Batch Details
        </button>
    </div>
</form>


<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});




</script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

</body>
</html>