<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
        <title>Table V04</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--===============================================================================================-->
        <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css"/>
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="css/util.css"/>
        <link rel="stylesheet" type="text/css" href="css/main.css"/>
        <!--===============================================================================================-->
    </head>
<body>

<div class="limiter">

    <div class="container-table100">
        <div class="wrap-table100">
            <h3>STUDENT DETAILS</h3>
            <div class="table100 ver3 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                        <tr class="row100 head">
                            <th class="cell100 column1">Id</th>
                            <th class="cell100 column2">Name</th>
                            <th class="cell100 column3">Mobile Number</th>
                            <th class="cell100 column4">Father Name</th>
                            <th class="cell100 column5">Mother Name</th>
                            <th class="cell100 column6">Address</th>
                            <th class="cell100 column7">School Name</th>
                            <th class="cell100 column8">Class Name</th>
                            <th class="cell100 column9">Admission Date</th>
                            <th class="cell100 column10">Father's Mobile Number</th>
                            <th class="cell100 column11">Mother Mobile Number</th>
                            <th class="cell100 column12">Remark</th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll">
                    <table>
                        <tbody>
                        <tr th:each="student : ${student}">
                            <td class="cell100 column1" th:text="${student.id}"></td>
                            <td class="cell100 column2" th:text="${student.name}"></td>
                            <td class="cell100 column3" th:text="${student.mobileNumber}"></td>
                            <td class="cell100 column4" th:text="${student.fatherName}"></td>
                            <td class="cell100 column5" th:text="${student.motherName}"></td>
                            <td class="cell100 column6" th:text="${student.address}"></td>
                            <td class="cell100 column7" th:text="${student.schoolName}"></td>
                            <td class="cell100 column8" th:text="${student.className}"></td>
                            <td class="cell100 column9" th:text="${student.dateOfAdmission}"></td>
                            <td class="cell100 column10" th:text="${student.fatherMobileNumber}"></td>
                            <td class="cell100 column11" th:text="${student.motherMobileNumber}"></td>
                            <td class="cell100 column12" th:text="${student.remarks}"></td>
                        </tr>
                        <!--<tr class="row100 body">-->
                            <!--<td class="cell100 column1">Like a butterfly</td>-->
                            <!--<td class="cell100 column2">Boxing</td>-->
                            <!--<td class="cell100 column3">9:00 AM - 11:00 AM</td>-->
                            <!--<td class="cell100 column4">Aaron Chapman</td>-->
                            <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                            <!--<td class="cell100 column1">Mind & Body</td>-->
                            <!--<td class="cell100 column2">Yoga</td>-->
                            <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                            <!--<td class="cell100 column4">Adam Stewart</td>-->
                            <!--<td class="cell100 column5">15</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                            <!--<td class="cell100 column1">Crit Cardio</td>-->
                            <!--<td class="cell100 column2">Gym</td>-->
                            <!--<td class="cell100 column3">9:00 AM - 10:00 AM</td>-->
                            <!--<td class="cell100 column4">Aaron Chapman</td>-->
                            <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                            <!--<td class="cell100 column1">Wheel Pose Full Posture</td>-->
                            <!--<td class="cell100 column2">Yoga</td>-->
                            <!--<td class="cell100 column3">7:00 AM - 8:30 AM</td>-->
                            <!--<td class="cell100 column4">Donna Wilson</td>-->
                            <!--<td class="cell100 column5">15</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                            <!--<td class="cell100 column1">Playful Dancer's Flow</td>-->
                            <!--<td class="cell100 column2">Yoga</td>-->
                            <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                            <!--<td class="cell100 column4">Donna Wilson</td>-->
                            <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                            <!--<td class="cell100 column1">Zumba Dance</td>-->
                            <!--<td class="cell100 column2">Dance</td>-->
                            <!--<td class="cell100 column3">5:00 PM - 7:00 PM</td>-->
                            <!--<td class="cell100 column4">Donna Wilson</td>-->
                            <!--<td class="cell100 column5">20</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                            <!--<td class="cell100 column1">Cardio Blast</td>-->
                            <!--<td class="cell100 column2">Gym</td>-->
                            <!--<td class="cell100 column3">5:00 PM - 7:00 PM</td>-->
                            <!--<td class="cell100 column4">Randy Porter</td>-->
                            <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                            <!--<td class="cell100 column1">Pilates Reformer</td>-->
                            <!--<td class="cell100 column2">Gym</td>-->
                            <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                            <!--<td class="cell100 column4">Randy Porter</td>-->
                            <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                            <!--<td class="cell100 column1">Supple Spine and Shoulders</td>-->
                            <!--<td class="cell100 column2">Yoga</td>-->
                            <!--<td class="cell100 column3">6:30 AM - 8:00 AM</td>-->
                            <!--<td class="cell100 column4">Randy Porter</td>-->
                            <!--<td class="cell100 column5">15</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                            <!--<td class="cell100 column1">Yoga for Divas</td>-->
                            <!--<td class="cell100 column2">Yoga</td>-->
                            <!--<td class="cell100 column3">9:00 AM - 11:00 AM</td>-->
                            <!--<td class="cell100 column4">Donna Wilson</td>-->
                            <!--<td class="cell100 column5">20</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                            <!--<td class="cell100 column1">Virtual Cycle</td>-->
                            <!--<td class="cell100 column2">Gym</td>-->
                            <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                            <!--<td class="cell100 column4">Randy Porter</td>-->
                            <!--<td class="cell100 column5">20</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                            <!--<td class="cell100 column1">Like a butterfly</td>-->
                            <!--<td class="cell100 column2">Boxing</td>-->
                            <!--<td class="cell100 column3">9:00 AM - 11:00 AM</td>-->
                            <!--<td class="cell100 column4">Aaron Chapman</td>-->
                            <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                            <!--<td class="cell100 column1">Mind & Body</td>-->
                            <!--<td class="cell100 column2">Yoga</td>-->
                            <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                            <!--<td class="cell100 column4">Adam Stewart</td>-->
                            <!--<td class="cell100 column5">15</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                            <!--<td class="cell100 column1">Crit Cardio</td>-->
                            <!--<td class="cell100 column2">Gym</td>-->
                            <!--<td class="cell100 column3">9:00 AM - 10:00 AM</td>-->
                            <!--<td class="cell100 column4">Aaron Chapman</td>-->
                            <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                            <!--<td class="cell100 column1">Wheel Pose Full Posture</td>-->
                            <!--<td class="cell100 column2">Yoga</td>-->
                            <!--<td class="cell100 column3">7:00 AM - 8:30 AM</td>-->
                            <!--<td class="cell100 column4">Donna Wilson</td>-->
                            <!--<td class="cell100 column5">15</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                            <!--<td class="cell100 column1">Playful Dancer's Flow</td>-->
                            <!--<td class="cell100 column2">Yoga</td>-->
                            <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                            <!--<td class="cell100 column4">Donna Wilson</td>-->
                            <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                            <!--<td class="cell100 column1">Zumba Dance</td>-->
                            <!--<td class="cell100 column2">Dance</td>-->
                            <!--<td class="cell100 column3">5:00 PM - 7:00 PM</td>-->
                            <!--<td class="cell100 column4">Donna Wilson</td>-->
                            <!--<td class="cell100 column5">20</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                            <!--<td class="cell100 column1">Cardio Blast</td>-->
                            <!--<td class="cell100 column2">Gym</td>-->
                            <!--<td class="cell100 column3">5:00 PM - 7:00 PM</td>-->
                            <!--<td class="cell100 column4">Randy Porter</td>-->
                            <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                            <!--<td class="cell100 column1">Pilates Reformer</td>-->
                            <!--<td class="cell100 column2">Gym</td>-->
                            <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                            <!--<td class="cell100 column4">Randy Porter</td>-->
                            <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                            <!--<td class="cell100 column1">Supple Spine and Shoulders</td>-->
                            <!--<td class="cell100 column2">Yoga</td>-->
                            <!--<td class="cell100 column3">6:30 AM - 8:00 AM</td>-->
                            <!--<td class="cell100 column4">Randy Porter</td>-->
                            <!--<td class="cell100 column5">15</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                            <!--<td class="cell100 column1">Yoga for Divas</td>-->
                            <!--<td class="cell100 column2">Yoga</td>-->
                            <!--<td class="cell100 column3">9:00 AM - 11:00 AM</td>-->
                            <!--<td class="cell100 column4">Donna Wilson</td>-->
                            <!--<td class="cell100 column5">20</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                            <!--<td class="cell100 column1">Virtual Cycle</td>-->
                            <!--<td class="cell100 column2">Gym</td>-->
                            <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                            <!--<td class="cell100 column4">Randy Porter</td>-->
                            <!--<td class="cell100 column5">20</td>-->
                        <!--</tr>-->
                        </tbody>
                    </table>

                </div>
            </div>
            <h3>BATCH DETAILS</h3>
            <div class="table100 ver3 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                        <tr class="row100 head">
                            <th class="cell100 column1">Id</th>
                            <th class="cell100 column2">Name</th>
                            <th class="cell100 column3">Class Name</th>
                            <th class="cell100 column4">Board Name</th>
                            <th class="cell100 column5">Subject Name</th>
                            <th class="cell100 column6">Fee</th>
                            <th class="cell100 column7">Batch Time</th>
                            <th class="cell100 column8">Teacher Name</th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll">
                    <table>
                        <tbody>
                        <tr th:each="batch : ${batch}">
                            <td class="cell100 column1" th:text="${batch.id}"></td>
                            <td class="cell100 column2" th:text="${batch.name}"></td>
                            <td class="cell100 column3" th:text="${batch.className}"></td>
                            <td class="cell100 column4" th:text="${batch.boardName}"></td>
                            <td class="cell100 column5" th:text="${batch.subjectName}"></td>
                            <td class="cell100 column6" th:text="${batch.fee}"></td>
                            <td class="cell100 column7" th:text="${batch.batchTime}"></td>
                            <td class="cell100 column8" th:text="${batch.teacherName}"></td>

                        </tr>
                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Like a butterfly</td>-->
                        <!--<td class="cell100 column2">Boxing</td>-->
                        <!--<td class="cell100 column3">9:00 AM - 11:00 AM</td>-->
                        <!--<td class="cell100 column4">Aaron Chapman</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Mind & Body</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--<td class="cell100 column4">Adam Stewart</td>-->
                        <!--<td class="cell100 column5">15</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Crit Cardio</td>-->
                        <!--<td class="cell100 column2">Gym</td>-->
                        <!--<td class="cell100 column3">9:00 AM - 10:00 AM</td>-->
                        <!--<td class="cell100 column4">Aaron Chapman</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Wheel Pose Full Posture</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">7:00 AM - 8:30 AM</td>-->
                        <!--<td class="cell100 column4">Donna Wilson</td>-->
                        <!--<td class="cell100 column5">15</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Playful Dancer's Flow</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--<td class="cell100 column4">Donna Wilson</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Zumba Dance</td>-->
                        <!--<td class="cell100 column2">Dance</td>-->
                        <!--<td class="cell100 column3">5:00 PM - 7:00 PM</td>-->
                        <!--<td class="cell100 column4">Donna Wilson</td>-->
                        <!--<td class="cell100 column5">20</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Cardio Blast</td>-->
                        <!--<td class="cell100 column2">Gym</td>-->
                        <!--<td class="cell100 column3">5:00 PM - 7:00 PM</td>-->
                        <!--<td class="cell100 column4">Randy Porter</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Pilates Reformer</td>-->
                        <!--<td class="cell100 column2">Gym</td>-->
                        <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--<td class="cell100 column4">Randy Porter</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Supple Spine and Shoulders</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">6:30 AM - 8:00 AM</td>-->
                        <!--<td class="cell100 column4">Randy Porter</td>-->
                        <!--<td class="cell100 column5">15</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Yoga for Divas</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">9:00 AM - 11:00 AM</td>-->
                        <!--<td class="cell100 column4">Donna Wilson</td>-->
                        <!--<td class="cell100 column5">20</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Virtual Cycle</td>-->
                        <!--<td class="cell100 column2">Gym</td>-->
                        <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--<td class="cell100 column4">Randy Porter</td>-->
                        <!--<td class="cell100 column5">20</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Like a butterfly</td>-->
                        <!--<td class="cell100 column2">Boxing</td>-->
                        <!--<td class="cell100 column3">9:00 AM - 11:00 AM</td>-->
                        <!--<td class="cell100 column4">Aaron Chapman</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Mind & Body</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--<td class="cell100 column4">Adam Stewart</td>-->
                        <!--<td class="cell100 column5">15</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Crit Cardio</td>-->
                        <!--<td class="cell100 column2">Gym</td>-->
                        <!--<td class="cell100 column3">9:00 AM - 10:00 AM</td>-->
                        <!--<td class="cell100 column4">Aaron Chapman</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Wheel Pose Full Posture</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">7:00 AM - 8:30 AM</td>-->
                        <!--<td class="cell100 column4">Donna Wilson</td>-->
                        <!--<td class="cell100 column5">15</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Playful Dancer's Flow</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--<td class="cell100 column4">Donna Wilson</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Zumba Dance</td>-->
                        <!--<td class="cell100 column2">Dance</td>-->
                        <!--<td class="cell100 column3">5:00 PM - 7:00 PM</td>-->
                        <!--<td class="cell100 column4">Donna Wilson</td>-->
                        <!--<td class="cell100 column5">20</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Cardio Blast</td>-->
                        <!--<td class="cell100 column2">Gym</td>-->
                        <!--<td class="cell100 column3">5:00 PM - 7:00 PM</td>-->
                        <!--<td class="cell100 column4">Randy Porter</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Pilates Reformer</td>-->
                        <!--<td class="cell100 column2">Gym</td>-->
                        <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--<td class="cell100 column4">Randy Porter</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Supple Spine and Shoulders</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">6:30 AM - 8:00 AM</td>-->
                        <!--<td class="cell100 column4">Randy Porter</td>-->
                        <!--<td class="cell100 column5">15</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Yoga for Divas</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">9:00 AM - 11:00 AM</td>-->
                        <!--<td class="cell100 column4">Donna Wilson</td>-->
                        <!--<td class="cell100 column5">20</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Virtual Cycle</td>-->
                        <!--<td class="cell100 column2">Gym</td>-->
                        <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--<td class="cell100 column4">Randy Porter</td>-->
                        <!--<td class="cell100 column5">20</td>-->
                        <!--</tr>-->
                        </tbody>
                    </table>

                </div>
            </div>
            <h3>FEE DETAILS</h3>
            <div class="table100 ver3 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                        <tr class="row100 head">
                            <th class="cell100 column1">Id</th>
                            <th class="cell100 column2">Student Id</th>
                            <th class="cell100 column3">Batch Id</th>
                            <th class="cell100 column4">Submitted To</th>
                            <th class="cell100 column5">Transaction Date</th>
                            <th class="cell100 column6">Fee Type</th>
                            <th class="cell100 column6">Amount</th>

                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll">
                    <table>
                        <tbody>
                        <tr th:each="fee : ${fee}">
                            <td class="cell100 column1" th:text="${fee.id}"></td>
                            <td class="cell100 column2" th:text="${fee.studentId}"></td>
                            <td class="cell100 column3" th:text="${fee.batchId}"></td>
                            <td class="cell100 column4" th:text="${fee.submittedTo}"></td>
                            <td class="cell100 column5" th:text="${fee.transactionDate}"></td>
                            <td class="cell100 column6" th:text="${fee.feeType}"></td>
                            <td class="cell100 column7" th:text="${fee.amount}"></td>

                        </tr>
                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Like a butterfly</td>-->
                        <!--<td class="cell100 column2">Boxing</td>-->
                        <!--<td class="cell100 column3">9:00 AM - 11:00 AM</td>-->
                        <!--<td class="cell100 column4">Aaron Chapman</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Mind & Body</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--<td class="cell100 column4">Adam Stewart</td>-->
                        <!--<td class="cell100 column5">15</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Crit Cardio</td>-->
                        <!--<td class="cell100 column2">Gym</td>-->
                        <!--<td class="cell100 column3">9:00 AM - 10:00 AM</td>-->
                        <!--<td class="cell100 column4">Aaron Chapman</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Wheel Pose Full Posture</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">7:00 AM - 8:30 AM</td>-->
                        <!--<td class="cell100 column4">Donna Wilson</td>-->
                        <!--<td class="cell100 column5">15</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Playful Dancer's Flow</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--<td class="cell100 column4">Donna Wilson</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Zumba Dance</td>-->
                        <!--<td class="cell100 column2">Dance</td>-->
                        <!--<td class="cell100 column3">5:00 PM - 7:00 PM</td>-->
                        <!--<td class="cell100 column4">Donna Wilson</td>-->
                        <!--<td class="cell100 column5">20</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Cardio Blast</td>-->
                        <!--<td class="cell100 column2">Gym</td>-->
                        <!--<td class="cell100 column3">5:00 PM - 7:00 PM</td>-->
                        <!--<td class="cell100 column4">Randy Porter</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Pilates Reformer</td>-->
                        <!--<td class="cell100 column2">Gym</td>-->
                        <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--<td class="cell100 column4">Randy Porter</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Supple Spine and Shoulders</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">6:30 AM - 8:00 AM</td>-->
                        <!--<td class="cell100 column4">Randy Porter</td>-->
                        <!--<td class="cell100 column5">15</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Yoga for Divas</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">9:00 AM - 11:00 AM</td>-->
                        <!--<td class="cell100 column4">Donna Wilson</td>-->
                        <!--<td class="cell100 column5">20</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Virtual Cycle</td>-->
                        <!--<td class="cell100 column2">Gym</td>-->
                        <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--<td class="cell100 column4">Randy Porter</td>-->
                        <!--<td class="cell100 column5">20</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Like a butterfly</td>-->
                        <!--<td class="cell100 column2">Boxing</td>-->
                        <!--<td class="cell100 column3">9:00 AM - 11:00 AM</td>-->
                        <!--<td class="cell100 column4">Aaron Chapman</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Mind & Body</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--<td class="cell100 column4">Adam Stewart</td>-->
                        <!--<td class="cell100 column5">15</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Crit Cardio</td>-->
                        <!--<td class="cell100 column2">Gym</td>-->
                        <!--<td class="cell100 column3">9:00 AM - 10:00 AM</td>-->
                        <!--<td class="cell100 column4">Aaron Chapman</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Wheel Pose Full Posture</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">7:00 AM - 8:30 AM</td>-->
                        <!--<td class="cell100 column4">Donna Wilson</td>-->
                        <!--<td class="cell100 column5">15</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Playful Dancer's Flow</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--<td class="cell100 column4">Donna Wilson</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Zumba Dance</td>-->
                        <!--<td class="cell100 column2">Dance</td>-->
                        <!--<td class="cell100 column3">5:00 PM - 7:00 PM</td>-->
                        <!--<td class="cell100 column4">Donna Wilson</td>-->
                        <!--<td class="cell100 column5">20</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Cardio Blast</td>-->
                        <!--<td class="cell100 column2">Gym</td>-->
                        <!--<td class="cell100 column3">5:00 PM - 7:00 PM</td>-->
                        <!--<td class="cell100 column4">Randy Porter</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Pilates Reformer</td>-->
                        <!--<td class="cell100 column2">Gym</td>-->
                        <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--<td class="cell100 column4">Randy Porter</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Supple Spine and Shoulders</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">6:30 AM - 8:00 AM</td>-->
                        <!--<td class="cell100 column4">Randy Porter</td>-->
                        <!--<td class="cell100 column5">15</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Yoga for Divas</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">9:00 AM - 11:00 AM</td>-->
                        <!--<td class="cell100 column4">Donna Wilson</td>-->
                        <!--<td class="cell100 column5">20</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Virtual Cycle</td>-->
                        <!--<td class="cell100 column2">Gym</td>-->
                        <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--<td class="cell100 column4">Randy Porter</td>-->
                        <!--<td class="cell100 column5">20</td>-->
                        <!--</tr>-->
                        </tbody>
                    </table>

                </div>
            </div>
            <h3>STUDENT BATCH ALLOCATION DETAILS</h3>
            <div class="table100 ver3 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                        <tr class="row100 head">
                            <th class="cell100 column1">Id</th>
                            <th class="cell100 column2">Student ID</th>
                            <th class="cell100 column3">Batch Id</th>
                            <th class="cell100 column4">Allocation Date</th>
                            <th class="cell100 column5">Fee Amount</th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="table100-body js-pscroll">
                    <table>
                        <tbody>
                        <tr th:each="bstudent : ${studentBatchAllocation}">
                            <td class="cell100 column1" th:text="${bstudent.id}"></td>
                            <td class="cell100 column2" th:text="${bstudent.studentId}"></td>
                            <td class="cell100 column3" th:text="${bstudent.batchId}"></td>
                            <td class="cell100 column4" th:text="${bstudent.allocationDate}"></td>
                            <td class="cell100 column5" th:text="${bstudent.amount}"></td>
                        </tr>
                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Like a butterfly</td>-->
                        <!--<td class="cell100 column2">Boxing</td>-->
                        <!--<td class="cell100 column3">9:00 AM - 11:00 AM</td>-->
                        <!--<td class="cell100 column4">Aaron Chapman</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Mind & Body</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--<td class="cell100 column4">Adam Stewart</td>-->
                        <!--<td class="cell100 column5">15</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Crit Cardio</td>-->
                        <!--<td class="cell100 column2">Gym</td>-->
                        <!--<td class="cell100 column3">9:00 AM - 10:00 AM</td>-->
                        <!--<td class="cell100 column4">Aaron Chapman</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Wheel Pose Full Posture</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">7:00 AM - 8:30 AM</td>-->
                        <!--<td class="cell100 column4">Donna Wilson</td>-->
                        <!--<td class="cell100 column5">15</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Playful Dancer's Flow</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--<td class="cell100 column4">Donna Wilson</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Zumba Dance</td>-->
                        <!--<td class="cell100 column2">Dance</td>-->
                        <!--<td class="cell100 column3">5:00 PM - 7:00 PM</td>-->
                        <!--<td class="cell100 column4">Donna Wilson</td>-->
                        <!--<td class="cell100 column5">20</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Cardio Blast</td>-->
                        <!--<td class="cell100 column2">Gym</td>-->
                        <!--<td class="cell100 column3">5:00 PM - 7:00 PM</td>-->
                        <!--<td class="cell100 column4">Randy Porter</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Pilates Reformer</td>-->
                        <!--<td class="cell100 column2">Gym</td>-->
                        <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--<td class="cell100 column4">Randy Porter</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Supple Spine and Shoulders</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">6:30 AM - 8:00 AM</td>-->
                        <!--<td class="cell100 column4">Randy Porter</td>-->
                        <!--<td class="cell100 column5">15</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Yoga for Divas</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">9:00 AM - 11:00 AM</td>-->
                        <!--<td class="cell100 column4">Donna Wilson</td>-->
                        <!--<td class="cell100 column5">20</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Virtual Cycle</td>-->
                        <!--<td class="cell100 column2">Gym</td>-->
                        <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--<td class="cell100 column4">Randy Porter</td>-->
                        <!--<td class="cell100 column5">20</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Like a butterfly</td>-->
                        <!--<td class="cell100 column2">Boxing</td>-->
                        <!--<td class="cell100 column3">9:00 AM - 11:00 AM</td>-->
                        <!--<td class="cell100 column4">Aaron Chapman</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Mind & Body</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--<td class="cell100 column4">Adam Stewart</td>-->
                        <!--<td class="cell100 column5">15</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Crit Cardio</td>-->
                        <!--<td class="cell100 column2">Gym</td>-->
                        <!--<td class="cell100 column3">9:00 AM - 10:00 AM</td>-->
                        <!--<td class="cell100 column4">Aaron Chapman</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Wheel Pose Full Posture</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">7:00 AM - 8:30 AM</td>-->
                        <!--<td class="cell100 column4">Donna Wilson</td>-->
                        <!--<td class="cell100 column5">15</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Playful Dancer's Flow</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--<td class="cell100 column4">Donna Wilson</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Zumba Dance</td>-->
                        <!--<td class="cell100 column2">Dance</td>-->
                        <!--<td class="cell100 column3">5:00 PM - 7:00 PM</td>-->
                        <!--<td class="cell100 column4">Donna Wilson</td>-->
                        <!--<td class="cell100 column5">20</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Cardio Blast</td>-->
                        <!--<td class="cell100 column2">Gym</td>-->
                        <!--<td class="cell100 column3">5:00 PM - 7:00 PM</td>-->
                        <!--<td class="cell100 column4">Randy Porter</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Pilates Reformer</td>-->
                        <!--<td class="cell100 column2">Gym</td>-->
                        <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--<td class="cell100 column4">Randy Porter</td>-->
                        <!--<td class="cell100 column5">10</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Supple Spine and Shoulders</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">6:30 AM - 8:00 AM</td>-->
                        <!--<td class="cell100 column4">Randy Porter</td>-->
                        <!--<td class="cell100 column5">15</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Yoga for Divas</td>-->
                        <!--<td class="cell100 column2">Yoga</td>-->
                        <!--<td class="cell100 column3">9:00 AM - 11:00 AM</td>-->
                        <!--<td class="cell100 column4">Donna Wilson</td>-->
                        <!--<td class="cell100 column5">20</td>-->
                        <!--</tr>-->

                        <!--<tr class="row100 body">-->
                        <!--<td class="cell100 column1">Virtual Cycle</td>-->
                        <!--<td class="cell100 column2">Gym</td>-->
                        <!--<td class="cell100 column3">8:00 AM - 9:00 AM</td>-->
                        <!--<td class="cell100 column4">Randy Porter</td>-->
                        <!--<td class="cell100 column5">20</td>-->
                        <!--</tr>-->
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});


	</script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

</body>
</html>
